.body {
  margin: 0;
  padding: 0;
  height: 100%
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align:justify;
  flex: 1 1 auto;
  min-height: 0; /* для корректного скролла */
  overflow-y: auto; /* если контента много, появляется скролл */
}

.header, .footer {
  flex-shrink: 0;
}
