.footerContainer {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px; 
  background: linear-gradient(to bottom, #b2f2bb, #4caf50); 
  color: #fff; 
  gap: 20px; 
}

.link {
  text-decoration: none;
  color: #fff;
  border-bottom: 3px dashed white
}

.linkText {
  font-size: 30px;
}

.topRow {
  display: flex;
  justify-content: center; 
  gap: 600px; 
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items:start;
  min-width: 150px;
}

