.button {
  width: 500px;
  height: 60px;
  border-radius: 5px; 
  border: none;
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #76c978; 
  color: #fff; 
  font-size: 20px; 
  padding: 0;
  transition: background-color 0.3s ease 0.2s
}

.button:hover{
  background-color: #68a771;
}

.text {
  padding: 0 0 0 50px ;
  font-size: 26px;
}