.headerContainer {
  width: 100%;
  font-size: 20px;
  color: black;
  padding: 0 Auto;
}

.topRow {
  display: flex;
  justify-content: center;
  gap: 60px; 
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items:start;
  min-width: 150px;
}

.control-panel-row {
  margin-top: 1px;
  padding: 15px;
  background: linear-gradient(to top, #b2f2bb, #4caf50); 
  display: flex;
  justify-content: center;

}

.service-panel-row {
  margin-top: 5px;
  padding: 2px;
  padding-right: 20px;
  background: linear-gradient(to top,  #4caf50, #b2f2bb); 
  display: flex;
  justify-content: flex-end;

}