.headerContainer {
  width: 100%;
  font-size: 20px;
  color: black;
  margin: 0;
}

.topRow {
  display: flex;
  justify-content: center;
  gap: 260px; 
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items:start;
  min-width: 150px;
}

.control-panel-row {
  padding: 15px;
  background: linear-gradient(to top, #b2f2bb, #4caf50); 
  display: flex;
  justify-content: center;

}

.wraper{
  margin-top: 5px;
  display: flex;
  justify-content: space-between; /* расставит слева и справа */
  align-items: center; /* по вертикали по центру */
  max-width: 1280px; /* если нужно ограничить шириной */
  margin: 0 auto; /* по центру */
  padding: 10px 20px; /* внутренние отступы */
  box-sizing: border-box;
}
.service-panel-row{
background: linear-gradient(to top,  #4caf50, #b2f2bb); 
}