/* Стили для контейнера */
.notification {
  width: 400px;
  height: 50px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  /* Изначально невидимый, плавное появление */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Класс, когда сообщение показываем */
.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.invisible {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
}


/* Цвет для успеха и ошибки */
.success {
  background-color: #4caf50; /* зеленый */
}
.error {
  background-color: #f44336; /* красный */
}